body {
    background-color: #ffff;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Arial', Arial, Verdana, serif;
    box-sizing: border-box;
}

/*Geral*/
header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border: 1px solid rgb(215, 215, 215);
}

.logotipo {
    width: 150px;
}


.guia-home {
    color: #1351d8;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 24px;
    text-decoration: none;
    margin: 0 10px;
}


.guia-home a {
    text-decoration: none;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

main {
    flex: 1;
    justify-content: center;
    text-align: center;
}


.main-footer {
    background-color: #1b357e;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    padding: 10px;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-title {
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    font-weight: 600;
}

.social-links {
    display: flex;
    gap: 5px;
}

.social-links a img {
    width: 40px;
    height: 40px;
}

.footer-logo {
    width: 90px;
    padding: 0 10px;
}



/*Home*/
.ranger-home {
    padding: 0px 0 10px;
    width: 83%;
}

.ranger-text {
    padding-bottom: 0px;
    align-items: center;
}






/*Lançamento*/
.video {
    width: 100%;
    height: 60vh;
}

.carros {
    display: flex;
    justify-content: center;
}

.checkbox {
    width: 30px;
    height: 30px;
}

.button-comparar {
    padding: 30px;
}

.comparar {
    width: 300px;
    height: 45px;
    border-radius: 12px;
    background-color: #1351d8;
    color: white;
    font-weight: 500;
    font-size: 120%;
    border: none;
}






/*Contato*/
.main-contato {
    display: flex;
    align-items: center;
}

.sobre {
    font-weight: 600;
    display: block; 
    text-align: left;
    margin: 0 0 0 5px;
}

.input-dados {
    width: 330px;
    height: 45px;
    border-radius: 8px;
    margin: 5px;
    border: solid 1px #b5b5b5;
}

.button-enviar {
    padding: 15px;
    display: flex;
    text-align: right;
    justify-content:right;
    margin-right: 0;
}

.enviar {
    width: 290px;
    height: 45px;
    border-radius: 12px;
    background-color: #1351d8;
    color: white;
    font-weight: 500;
    font-size: 120%;
    border: none;
}
